.InputBar{
    width: 90%;
    height: 50px;
    background-color: #ffffff;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result {
    font-size: 20px;
    font-weight: bold;
}

.text {

}
