.containerButton{
    padding: 5px;
}

.OperatorButton{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: bisque;

}

.content {
    font-size: 30px;
    font-weight: bold;
    color: #252424;
}
