.containernButton {
    padding: 5px;
}

.NumericButton {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: bisque;
}

.clickedNumericButton {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #D59951FF;  /* Use the darker color you want here */
}

.content {
    font-size: 30px;
    font-weight: bold;
    color: #252424;
}
