body {
    margin: 0;
    padding: 0;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    border: 1px solid #252424;

}
