body {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    background-color: #656363;

}

.fila{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /*gap: 10px; */
}

.numeros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.containerError {
    background-color: red;
    transform: scale(1.1); /* Makes the container 10% larger */
    transition: transform 1s ease-out; /* Animation effect */
}


