body {
    margin: 0;
    padding: 0;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #656363;

}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.fila{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /*gap: 10px; */
}

.numeros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.operadores {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.resultado{

}
